
@{
    ViewData["Title"] = "WelCome To Auth Server";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Auth Server</h1>
    <br />
    <br />
    <br />
    <div class="card-deck mb-3 text-center">
        <!--Admin Dashboard -->
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Admin Dashboard</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">
                    <span title="Admin Dashboard" class="font-size-1" aria-hidden="true"><i class="fas fa-tasks"></i></span>
                </h1>
                <a href="http://localhost:4200" class="btn btn-lg btn-block btn-primary" target="_blank">Manage</a>
            </div>
        </div>
        <!-- User Profile -->
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">User Profile</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">
                    <span title="User Profile" class="font-size-1" aria-hidden="true"><i class="fas fa-user"></i></span>
                </h1>
                <a href="http://localhost:4300" class="btn btn-lg btn-block btn-outline-primary" target="_blank">Manage</a>
            </div>
        </div>
        <!--Swagger Auth Server -->
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Swagger Auth Server</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">
                    <span title="Swagger Auth Server" class="font-size-1" aria-hidden="true"><i class="fas fa-file-code"></i></span>
                </h1>
                <a href="https://localhost:5000/swagger/index.html" class="btn btn-lg btn-block btn-primary" target="_blank">Manage</a>
            </div>
        </div>
    </div>
</div>

