@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="row" style="display: flex; justify-content: center;">
    <div class="col-md-6" style="padding: 30px; border: 1px solid #f1eded; margin-top: 50px">
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <i style="font-size: 40px; margin-bottom: 8px" class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <h4>@ViewData["Title"]</h4>
            <p>You can reset your password here.</p>
        </div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" placeholder="Enter your email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button style="width: 100%" type="submit" class="btn btn-primary text-center">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
