@{
    ViewData["Title"] = "Error";
}
<div style="display: flex; justify-content: center; align-items: center;">
    <img style="width: 50%" src="https://stories.freepiklabs.com/storage/42265/403-error-forbidden-bro-2835.png" alt="">
    <h4 class="text-danger">You don't have permission to access. Please contact admin!</h4>
</div>
